/* @import url("./leaflet.css"); */
@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.LeafletControlGeoposition {
  font-size: 10px;
  text-align: right;
}
.leaflet-popup-content-wrapper {
  /* padding: 1px;
  padding-right:110px;
  padding-left:1px;
  
  text-align: center;
  border-radius: 12px; */
  width: 80px;
  height: 50px;
}

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
  text-align: left;
  width: 10;
}

.leaflet-popup-button {
  font-size: 8px;
  /* font-size:xx-small; */
  margin-left: -9px;
  margin-top: -15px;
}

.leaflet-popup-button.edit {
  margin-left: 35px;
}
.leaflet-popup-button.save {
  margin-left: -9px;

  padding-right: 110px;
  /* padding-left:30px; */
  /* font-size:20px; */
  /* text-align: left; */
}

.leaflet-popup-input {
  border: 1px solid lightgrey;
  min-width: 30px;
  max-width: 40px;
  padding: 5px;
}

/* .leaflet-popup-button.edit, .leaflet-popup-button.save {
  margin-left: 42px;
  margin-top: -5px;
  text-align: left;
  padding-bottom:15px;
  line-height: 1.5; 
  font-size:xx-small
}  */

/* .leaflet-popup-button.save {
padding-left:4px;
  margin-left: 12px;

} */

/* .leaflet-popup-button.cancel {
  margin-top: -38px;
  line-height: 1.5; 
  font-size:xx-small
} */
